.cards-container{
    width: 100%;
    height: 80%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


.card{
    width: 95%;
    height: 221px;
    background-color: var(--branco-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    transition: 0.5s ease;
    opacity: 90%;
    border-radius: 20px;
    
    
}

.card:hover{
    opacity: 100%;
    transition: 0.5s ease;
    background-color: var(--dourado);

}


.card-texts{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 1.5rem;
    width: 95%;

}

.card-texts h3{
    font-size: 24px;
    font-family: var(--fonte-inter);
    font-weight: 600;
    height: auto;
    


}


.card-texts p{
    font-size: 16px;
    font-family: var(--fonte-inter);


}


@media (max-width: 768px) {
    .cards-container {
      width: 100%;
      height: auto;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0;
      
    }
  
    .card {
      width:20rem;
      
      height: 15rem;
      background-color: var(--branco-escuro);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      transition: 0.5s ease;
      opacity: 90%;
    }
  
    .card:hover {
      opacity: 100%;
      transition: 0.5s ease;
      background-color: var(--dourado);
    }
  
    .card-texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      width: 90%;
      
    }
  
    .card-texts h3 {
      font-size: 20px;
      font-family: var(--fonte-inter);
      font-weight: 600;
      height: auto;
    }
  
    .card-texts p {
      font-size: 14px;
      font-family: var(--fonte-inter);
    }
  }


  @media (min-width: 768px) and (max-width: 1024px) {
    .cards-container {
      width: 100%;
      height: 80%;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  }
  
  .card {
      width: 532px;
      height: 221px;
      background-color: var(--branco-escuro);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 1.5rem;
      transition: 0.5s ease;
      opacity: 90%;
      border-radius: 20px;
  }
  
  .card:hover {
      opacity: 100%;
      transition: 0.5s ease;
      background-color: var(--dourado);
  }
  
  .card-texts {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;
      gap: 1.5rem;
      width: 400px;
  }
  
  .card-texts h3 {
      font-size: 24px;
      font-family: var(--fonte-inter);
      font-weight: 600;
      height: auto;
  }
  
  .card-texts p {
      font-size: 16px;
      font-family: var(--fonte-inter);
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
      .cards-container {
          height: auto; /* Ajusta a altura do container de cards */
          gap: 2rem; /* Aumenta o espaçamento entre os cards */
      }
  
      .card {
          width: 350px; /* Ajusta a largura do card */
          height: 170px; /* Ajusta a altura do card */
          flex-direction: column; /* Ajusta a direção flex do card */
          gap: 0.5rem; /* Ajusta o espaçamento entre os elementos do card */
      }
  
      .card-texts {
          width: 100%; /* Ajusta a largura dos textos */
          align-items: center; /* Centraliza os textos */
          text-align: center; 
          gap: 1rem;
      }
  
      .card-texts h3 {
          font-size: 18px; /* Ajusta o tamanho da fonte do título */
      }
  
      .card-texts p {
          font-size: 12px; /* Ajusta o tamanho da fonte do parágrafo */
      }

      .card img{
        height: 3rem;
        
      }
  }
  

  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    .cards-container{
      width: 100%;
      height: 80%;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      
  }
  
  
  .card{
      width: 95%;
      height: 221px;
      background-color: var(--branco-escuro);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 1.5rem;
      transition: 0.5s ease;
      opacity: 90%;
      border-radius: 20px;
      
      
  }
  
  .card:hover{
      opacity: 100%;
      transition: 0.5s ease;
      background-color: var(--dourado);
  
  }
  
  
  .card-texts{
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;
      gap: 1.5rem;
      width: 95%;
  
  }
  
  .card-texts h3{
      font-size: 1.2rem;
      font-family: var(--fonte-inter);
      font-weight: 600;
      height: auto;
      
  
  
  }
  
  
  .card-texts p{
      font-size: 16px;
      font-family: var(--fonte-inter);
      width: 95%;
  
  
  }
  }
  

