.header{
    height: 8vh;
    width: 100%;
    background-color: transparent ;
    display: flex;
    flex-direction: row;
}

.nav-container{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.nav{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--fonte-montserrat);
    color: var(--branco-escuro);
    transition: 0.5s ease;
    
}

.nav a:hover{
    color: var(--dourado);
    transition: 0.5s ease;

}

.header-logo-container{
    display: flex;
    height: 8vh;
    width: 30%;
    align-items: center;
    justify-content: left;
    

}

.header-logo-container img{
    height: 6rem;
    width: auto;
    margin-top: 1rem;
}

.header-button-container{
    display: flex;
    justify-content: right;
    width: 30%;
    height: 100%;
    align-items: center;
}

.header-button{
    border-radius: 20px;
    width: auto;
    height: 50%;
    border: solid 2px var(--dourado);
    background-color: transparent;
    margin-right: 4rem;
    width: 10rem;
    color: var(--dourado);
    transition: 0.7s ease;
    

}

.header-button:hover{
    background-color: var(--dourado);
    color: var(--branco-escuro);
    transition: 0.7s ease;

}

.header-button a{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media (max-width: 768px) {

.header{
    display: none;
}

}


