.home{
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/images/background-licita.png);
    background-repeat: none;
    background-size:cover;
}
.home-itens-button a{
    width: 100%;
}


.home-itens{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    
}

.home-itens-container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12rem;
}

.home-itens-title{
    text-align: center;
    width: 45%;

}

.home-itens-title-text{
    font-family: var(--fonte-inter);
    color: var(--branco-escuro);
    font-size: 48px;
    font-weight: 700;
    
}

.home-itens-title-text strong{
    color: var(--dourado);

}

.home-itens-subtitle{
    font-family: var(--fonte-inter);
    color: var(--branco-escuro);
    font-size: 26px;
    font-weight: 500;
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: end;
}


.home-itens-logos{
    height: 4rem;
    display: flex;
    align-items: end;
    gap: 2rem;
}

.home-itens-logos a img{
    height: 25px;
    width: auto;

}

.home-itens-button{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.home-itens-button button{
    border-radius: 10px;
    width: 22rem;
    height: 50px;
    border: solid 2.5px var(--dourado);
    background-color: transparent;
    color: var(--dourado);
    transition: 0.7s ease;

    
}

.home-itens-button a{   

    font-size: 30px;
    font-family: var(--fonte-montserrat);
    color: var(--branco-escuro);
    font-weight: 500;

}

.home-itens-button button:hover{
    background-color: var(--dourado);
    transition: 0.7s ease;
    margin-bottom: 1rem;

}


@media (max-width: 768px) {



    .home-itens {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-image: url(../../../public/images/background-licita.png);
        background-position: 70% 100%;
    }
    
    .home-itens-container {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 12rem;
        
        
    }
    
    .home-itens-title {
        text-align: center;
        width: 100%;
    }
    
    .home-itens-title-text {
        font-family: var(--fonte-inter);
        color: var(--branco-escuro);
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
    .home-itens-title-text h1{
        text-align: center;
    }
    
    .home-itens-title-text strong {
        color: var(--dourado);
    }
    
    .home-itens-subtitle {
        font-family: var(--fonte-inter);
        color: var(--branco-escuro);
        font-size: 26px;
        font-weight: 500;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .home-itens-logos {
        height: 4rem;
        display: flex;
        align-items: end;
        gap: 2rem;
    }
    
    .home-itens-logos a img {
        height: 25px;
        width: auto;
    }
    
    .home-itens-button {
        width: auto;
        display: flex;
        align-items: end;
        justify-content: center;
        height: 20vh;
    }
    
    .home-itens-button button {
        border-radius: 30px;
        width: 22rem;
        height: 50px;
        border: solid 2.5px var(--dourado);
        background-color: transparent;
        color: var(--dourado);
        transition: 0.7s ease;
    }    
    .home-itens-button a {
        font-size: 30px;
        font-family: var(--fonte-montserrat);
        color: var(--branco-escuro);
        font-weight: 500;
    }
    
    .home-itens-button button:hover {
        background-color: var(--dourado);
        transition: 0.7s ease;
        margin-bottom: 1rem;
    }
    
    /* Estilos para dispositivos móveis */
    @media (max-width: 768px) {
        .home {
            height: 100vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #1E1E1E;
           
            
        }
    
        .home-itens {
            height: 100%;
            
           
            
        }
    
        .home-itens-container {
            height: 100%;
            gap: 5rem;
            margin: 0;
            margin-top: 1rem;
        }
    
        .home-itens-title {
            width: 90%;
            margin-top: 10rem;
        }
    
        .home-itens-title-text {
            font-size: 30px;
            display: flex;
            width: 95%;
            flex-direction: column;
            text-align: left;
            
        }
    
        .home-itens-subtitle {
            font-size: 25px;
            height: 2rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 7rem;
            
        }
    
        .home-itens-logos {
            height: auto;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 0.5rem;
        }
    
        .home-itens-logos a img {
            height: 30px;
        }
    
        .home-itens-button {
            height: auto;
            margin-bottom: 3rem;
        }
    
        .home-itens-button button {
            width: 100%;
            width: 300px;
            height: 40px;
            background-color: var(--dourado);
            
        }
    
        .home-itens-button a {
            font-size: 23px;
            font-weight: 500;
        }
    }
    

}


@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        width: 100%;
        height: 100vh;
        background-image: url(../../../public/images/background-licita.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home-itens {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100%;
        flex-direction: column;
    }
    
    .home-itens-container {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15rem;
    }
    
    .home-itens-title {
        text-align: center;
        width: 45%;
    }
    
    .home-itens-title-text {
        font-family: var(--fonte-inter);
        color: var(--branco-escuro);
        font-size: 48px;
        font-weight: 700;
    }
    
    .home-itens-title-text strong {
        color: var(--dourado);
    }
    
    .home-itens-subtitle {
        font-family: var(--fonte-inter);
        color: var(--branco-escuro);
        font-size: 26px;
        font-weight: 500;
        height: 3rem;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    
    .home-itens-logos {
        height: 4rem;
        display: flex;
        align-items: end;
        gap: 2rem;
    }
    
    .home-itens-logos a img {
        height: 25px;
        width: auto;
    }
    
    .home-itens-button {
        width: auto;
        display: flex;
        align-items: end;
        justify-content: center;
        height: 20vh;
    }
    
    .home-itens-button button {
        border-radius: 10px;
        width: 22rem;
        height: 50px;
        border: solid 2.5px var(--dourado);
        background-color: transparent;
        color: var(--dourado);
        transition: 0.7s ease;
    }
    
    .home-itens-button a {
        font-size: 30px;
        font-family: var(--fonte-montserrat);
        color: var(--branco-escuro);
        font-weight: 500;
    }
    
    .home-itens-button button:hover {
        background-color: var(--dourado);
        transition: 0.7s ease;
        margin-bottom: 1rem;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .home {
            height: 80vh; /* Ajusta a altura da home */
        }
    
        .home-itens {
            height: 80vh; /* Ajusta a altura do container de itens */
        }
    
        .home-itens-container {
            height: 60vh; /* Ajusta a altura do container de itens */
            margin-top: 8rem; /* Ajusta a margem superior */
        }
    
        .home-itens-title {
            width: 60%; /* Ajusta a largura do título */
        }
    
        .home-itens-title-text {
            font-size: 36px; /* Ajusta o tamanho da fonte do texto do título */
        }
    
        .home-itens-subtitle {
            font-size: 22px; /* Ajusta o tamanho da fonte do subtítulo */
        }
    
        .home-itens-logos {
            height: 3rem; /* Ajusta a altura do container de logos */
            gap: 1.5rem; /* Ajusta o espaçamento entre logos */
        }
    
        .home-itens-logos a img {
            height: 20px; /* Ajusta a altura das imagens de logos */
        }
    
        .home-itens-button {
            height: 15vh; /* Ajusta a altura do container do botão */
        }
    
        .home-itens-button button {
            width: 18rem; /* Ajusta a largura do botão */
            height: 45px; /* Ajusta a altura do botão */
        }
    
        .home-itens-button a {
            font-size: 24px; /* Ajusta o tamanho da fonte do link do botão */
        }
    }
    
}